/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html {
  font-size: 125%;
}
body {
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(239, 198, 155)
}

h1 {
  color: rgb(71, 49, 68);
  font-size: 2rem;
  padding: 10px 0;
  text-align: center;
}
.mainContainer {
  display: flex;
  justify-content: center;
}
select {
  border-radius: 10px;
  width: 50%;
}
optgroup {
  font-size: 1rem;
}
.mealCard {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 20px;
  margin: 45px 15px 5px 50px;
  width: 70vh;
  height: 55vh;
}
img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin-top: 10px;
}
.mealName {
  font-size: 1.25rem;
}
/* .video {
  margin-bottom: 35px;
} */
h3 {
  font-size: 1.25rem;
  margin: 0 50px;
  padding-top: 10px;
}
button {
  background-color: rgb(71, 49, 68);
  color: white;
  height: 40px;
  border-radius: 10px;
  border-color: rgb(71, 49, 68); 
}
ul {
  list-style: none;
  margin-left: 10px;
  font-size: 1rem;
}
.instructionGuide {
  margin-left: 50px;
  font-size: 1rem;
}
/* MEDIA QUERIES */
/* Tablet */
@media only screen and (min-width: 422px) and (max-width: 820px) {
  h1 {
    font-size: 1.8rem;
  }
  .mealName {
    font-size: 1.5rem;
    text-align: center;
  }
  optgroup {
    font-size: 0.5rem;
  }
  .mealCard {
    justify-content: center;
    margin: 15px 15px 5px 0;
    height: 70vh;
  }
  img {
    align-self: center;
    width: 300px;
    height: 300px;
  }
  .video {
    text-align: center;
    padding-right: 35px;
  }
} 

/* Smartphone */
@media only screen and (max-width: 420px) {
  h1 {
    font-size: 1.35rem;
  }
  .mealName {
    font-size: 1rem;
    padding-right: 150px;
    /* text-align: center; */
  }
  select {
    width: 60%;
  }
  optgroup {
    font-size: 0.5rem;
  }
  .mealCard {
    /* justify-content: center; */
    margin: 15px 15px 5px 0;
    height: 55vh;
  }
  img {
    /* align-self: center; */
    width: 300px;
    height: 200px;
  }
  .video {
    /* text-align: center; */
    padding-right: 35px;
  }
  h3, ul {
    margin-left: 0;
    padding-left: 0;
  }
  .instructionGuide {
    margin-left: 0;
    margin-right: 20px;
    font-size: 1rem;
  }
} 


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
